<form class="form-horizontal" ddd-form-validate name="changePaswForm"
	role="form">
	<div >
		<div class="form-group col-md-12" style="margin-top: 30px;">
			<label class="col-md-4 control-label form-margin" for="inputCode">
				原始密码</label>
			<div class="col-md-8">
				<input id="inputCode" type="password" class="form-control" required
					ng-model="oldPawd" name="inputCode" />
			</div>
		</div>
		<div class="form-group col-md-12">
			<label class="col-md-4 control-label form-margin" for="2">
				新密码</label>
			<div class="col-md-8">
				<input id="2" type="password" class="form-control" ng-model="newPawd"
					name="inputCode" />
			</div>
		</div>
		<div class="form-group col-md-12">
			<label class="col-md-4 control-label form-margin" for="3">
				确认密码</label>
			<div class="col-md-8">
				<input id="3" type="password" class="form-control"
					ng-model="newPawdConfirm" name="inputCode" />
			</div>
		</div>
		<div style="padding-left: 40%; padding-bottom: 15px">
			<input ng-disabled="changePaswForm.$invalid" ng-click="change()"
				class="btn btn-primary form-buttongroup-margin" type="button"
				value="确认">
				<input 
				ng-click="cancel()" class="btn btn-primary form-buttongroup-margin"
				type="button" value="返回">
		</div>
	</div>
</form>