<form ng-init="init()" class="form-horizontal"
	name="studentForm" ddd-form-validate="{ blurValidate: true}"
	novalidate role="form">
	<div class="btn-group formBtnGroup topRight">
		<button class="btn btn-sm" ng-click="saveStudent(false)"
			ng-disabled="studentForm.$invalid">保存</button>
		<button class="btn btn-sm" ng-click="saveStudent(true)"
			ng-disabled="studentForm.$invalid">保存并新增</button>
		<button class="btn btn-sm" ng-click="closeOperateTab()">返回</button>
	</div>
	<fieldset>
		<legend class="legend" data-toggle="collapse" href="#baseInfo">
			<span class="legend-title">基础信息</span>
		</legend>
		<div id="baseInfo" class="row collapse in">
						  						 			  						 						 						<div class="form-group col-md-6">
				<label class="col-md-4 control-label form-margin" for="remark">
										备注:
				</label>
				<div class="col-md-8">
					<input type="text" id="remark"
						placeholder='' class="form-control"
						ng-model="student.remark" name="remark"
														maxlength="8000"
													 />
				</div>
			</div>
			 						<div class="form-group col-md-6">
				<label class="col-md-4 control-label form-margin" for="attachmentCode">
										附件编码:
				</label>
				<div class="col-md-8">
					<input type="text" id="attachmentCode"
						placeholder='' class="form-control"
						ng-model="student.attachmentCode" name="attachmentCode"
														maxlength="255"
													 />
				</div>
			</div>
			 						<div class="form-group col-md-6">
				<label class="col-md-4 control-label form-margin" for="name">
										姓名:
				</label>
				<div class="col-md-8">
					<input type="text" id="name"
						placeholder='姓名' class="form-control"
						ng-model="student.name" name="name"
														maxlength="20"
													 />
				</div>
			</div>
			 						<div class="form-group col-md-6">
				<label class="col-md-4 control-label form-margin" for="age">
										年龄:
				</label>
				<div class="col-md-8">
					<input type="text" id="age"
						placeholder='年龄' class="form-control"
						ng-model="student.age" name="age"
														maxlength="18"
													 />
				</div>
			</div>
			 						<div class="form-group col-md-6">
				<label class="col-md-4 control-label form-margin" for="sex">
										性别:
				</label>
				<div class="col-md-8">
					<input type="text" id="sex"
						placeholder='性别' class="form-control"
						ng-model="student.sex" name="sex"
														maxlength="2"
													 />
				</div>
			</div>
			 		</div>
	</fieldset>
	<fieldset>
		<legend class="legend" data-toggle="collapse" href="#introduce">
			<i class="glyphicon glyphicon-info-sign"></i>&nbsp;说明
		</legend>
		<div id="introduce" class="row collapse in">
			<dddintroduce name="name"></dddintroduce>
		</div>
	</fieldset>
</form>
