#set($packageName=${entityClass.packageName.replace(".entity.", ".dao.")})
#set($EntityNameUp="${entityClass.className}")
#set($EntityNameLow="${entityClass.className.substring(0,1).toLowerCase()}${entityClass.className.substring(1)}")
#set($className="${entityClass.className}DaoBean")
#set($src="src/")
#set($extension=".java")
#set($path=${entityClass.getClazz().getPackage().getName().replace(".entity.", ".dao.").replace(".", "/")})
#set($outputFile="${src}${path}/impl/${className}${extension}")
package ${packageName}.impl;

import ddd.base.persistence.EntitySet;
import ddd.simple.dao.base.BaseDao;
import org.springframework.stereotype.Service;
import ${entityClass.getClazz().getName()};
import ${entityClass.packageName.replace(".entity.", ".dao.")}.${EntityNameUp}Dao;

@Service
public class ${className} extends BaseDao implements ${EntityNameUp}Dao {
	@Override
	public ${EntityNameUp} save${EntityNameUp}(${EntityNameUp} ${EntityNameLow})  throws Exception {
		return this.save(${EntityNameLow});
	}

	@Override
	public int delete${EntityNameUp}(Long ${EntityNameLow}Id)  throws Exception {
		return this.deleteById(${EntityNameLow}Id,${EntityNameUp}.class);
	}

	@Override
	public ${EntityNameUp} update${EntityNameUp}(${EntityNameUp} ${EntityNameLow})  throws Exception {
		return this.update(${EntityNameLow});
	}

	@Override
	public ${EntityNameUp} find${EntityNameUp}ById(Long ${EntityNameLow}Id)  throws Exception {
		return this.query(${EntityNameLow}Id, ${EntityNameUp}.class);
	}
	
	@Override
	public EntitySet<${EntityNameUp}> findAll${EntityNameUp}() throws Exception {
		return this.query("1=1",${EntityNameUp}.class);
	}
}
