<div id="headPortrait" ng-init="initlogoupload()">
  <div class="imageBox">
    <div class="thumbBox"></div>
    <div class="spinner" style="display: none">Loading...</div>
  </div>
  <div class="action">
    <div class="new-contentarea tc"> <a href="javascript:void(0)" class="upload-img">
      <label for="upload-file" style="font-weight: normal;">选择图片</label>
      </a>
      <input type="file" class="" name="upload-file"  onchange="angular.element(this).scope().choiceLogo(event)"  />
    </div>
     <input type="button"  class="Btnsty_peyton" ng-click="cancel()" value="取消" >
         <input type="button"  class="Btnsty_peyton" style="width:80px" ng-click="uploadLogo()" value="上传头像" >
    <input type="button" id="btnCrop"  class="Btnsty_peyton"   ng-click="cropLogo()" value="裁切">
    <input type="button" id="btnZoomIn" class="Btnsty_peyton"  ng-click="enlargeLogo()"  value="+"  >
    <input type="button" id="btnZoomOut" class="Btnsty_peyton" ng-click="reduceLogo()" value="-" >

   
  </div>
  <div class="cropped">
  <img ng-src="{{uploadimg}}" align="absmiddle" style="width:32px;margin-top:4px;border-radius:64px;box-shadow:0px 0px 12px #7E7E7E;" ><p>64px*64px</p>
  <img ng-src="{{uploadimg}}" align="absmiddle" style="width:64px;margin-top:25px;border-radius:128px;box-shadow:0px 0px 12px #7E7E7E;"><p>128px*128px</p>
  <img ng-src="{{uploadimg}}" align="absmiddle" style="width:128px;margin-top:25px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>180px*180px</p>
  </div>
</div>
