<div class="row">
	<div class="col-md-6 pull-left">
		<button class="btn " ng-click="addCourseDesignProgress()"
			ng-if="hasPermission('courseDesignProgress_add')">
			<i class='glyphicon glyphicon-plus-sign'></i>新增
		</button>
		<button class="btn " ng-click="refreshGrid()">
			<i class='glyphicon glyphicon-refresh'></i>刷新
		</button>
	</div>
	<dcolumnfilter class="col-md-6 pull-left"
		grid-name="courseDesignProgressListGrid" />
	<ddatagrid class="col-md-12" id="courseDesignProgressListGrid"
		name="courseDesignProgressListGrid" show-grid-only="true"
		operation-columns='operationColumns'
		operation-bar-buttons='operationBarButtons'
		list-view-key="courseDesignProgressList"> </ddatagrid>
</div>
