<div ng-controller="attachmentGroupCategoryFormController">
	<div class="row" ng-init="getInitAttachmentGroupCategoryData()">
		<form class="form-horizontal" name="attachmentGroupCategoryForm" ddd-form-validate="{ blurValidate: true}" novalidate>
			<div class="row rowddd"></div>
			<div class="form-group">
				<div class="col-md-10">
					<input class="btn btn-success col-md-offset-2" type="button" value="保存" type="submit" ng-click="saveAttachmentGroupCategory(attachmentGroupCategory)">
					<input class="btn btn-success" type="button" value="保存并新增" type="submit" ng-show="showSaveAndAddButton" ng-click="saveAndAddAttachmentGroupCategory(attachmentGroupCategory)">
					<input class="btn btn-primary" type="button" value="返回" ng-click="back()" />
				</div>
			</div>

			<div class="form-group col-md-6">
				<label class="col-md-4 control-label" for="name"> 名称</label>
				<div class="col-md-8">
					<input type="text" class="form-control" ng-model="attachmentGroupCategory.name" name="name" />
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label" for="categoryCode"> 编码</label>
				<div class="col-md-8">
					<input type="text" class="form-control" ng-model="attachmentGroupCategory.categoryCode" name="categoryCode" />
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label" for="remark"> 备注</label>
				<div class="col-md-8">
					<input type="text" class="form-control" ng-model="attachmentGroupCategory.remark" name="remark" />
				</div>
			</div>
		</form>
	</div>
</div>
