<style>
	.button-group{
		margin-left: -3px;
	}
	.lable-tip{
		text-align: right;
		height: 50px;
		line-height: 33px;	
	}
	
	.lable-tip .col-md-8 , .lable-tip .col-md-10{
		text-align: left;
	}
</style>
<div class=" data-bg" ng-init="init()">
	<legend class="legend" data-toggle="collapse" style="cursor:pointer;">
		<span class="legend-title">编辑资料</span>
	</legend>

	<div class=" col-md-offset-1 col-md-10">
		<form class="col-md-12 form-horizontal" ng-if="isEmployee" name="employeeForm" ddd-form-validate="{ blurValidate: true}" novalidate role="form">
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit required" for="name"> 姓名
				</label>
				<div class="col-md-8">
					<input ng-model="employee.name" class="form-control" id="name" required />
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit required" for="linkTel"> 联系电话
				</label>
				<div class="col-md-8">
					<input ng-model="employee.linkTel" type="text"  id="linkTel" ng-pattern="/^[0-9]*$/" class="form-control" required />
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="sex"> 性别</label>
				<div class="col-md-8">
					<dselect code-type-key="Gender" class="form-control" id="sex" ng-model="employee.sex" class="form-control"></dselect>
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="email"> 邮箱</label>
				<div class="col-md-8">
					<input type="email" ng-model="employee.email"  id="email" class="form-control" />
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="nation"> 民族</label>
				<div class="col-md-8">
					<input ng-model="employee.nation" class="form-control" />
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="lastedEducationBackground"> 学历</label>
				<div class="col-md-8">
					<input ng-model="employee.lastedEducationBackground" class="form-control" />
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="birthDate"> 出生日期</label>
				<div class="col-md-8">
					<input ddatepicker="{format:'yyyy年mm月dd日'}" class="form-control" ng-model="employee.birthDate" placeholder='出生日期'>
				</div>
			</div>
			
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="graduateSchool"> 毕业学校</label>
				<div class="col-md-8">
					<input ng-model="employee.graduateSchool" class="form-control" />
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="politicStatus"> 政治面貌</label>
				<div class="col-md-8">
					<input ng-model="employee.politicStatus" id="politicStatus"  class="form-control" />
				</div>
			</div>
			<div class="form-group col-md-12 lable-tip" style="height: 100%;">
				<label class="col-md-2 data-form-edit" for="remark"> 个人说明</label>
				<div class="col-md-10">
					<textarea rows="6"  id="remark" class="form-control defined-textarea" ng-model="employee.remark"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10 col-md-offset-2">
					<div class="button-group">
						<input class="btn btn-sm" ng-click="updateEmployee()" ng-disabled="employeeForm.$invalid" type="button" value="保存" type="submit">
						<input class="btn btn-sm" type="button" ng-click=back() value="取消">
					</div>
				</div>
			</div>
		</form>


		<form class="col-md-12 form-horizontal" name="teatherForm" ng-if="isTeacher" ddd-form-validate="{ blurValidate: true}" novalidate role="form">
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit required" for="teaRealName"> 姓名
				</label>
				<div class="col-md-8">
					<input ng-model="teacher.teaRealName" class="form-control" id="teaRealName" required />
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit required" for="teaName"> 登录账号
				</label>
				<div class="col-md-8">
					<input ng-model="teacher.teaName" class="form-control" id="teaName" required />
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit required" for="teaPhone"> 联系电话
				</label>
				<div class="col-md-8">
					<input ng-model="teacher.teaPhone" type="text" id="teaPhone" ng-pattern="/^[0-9]*$/" class="form-control" required />
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="teaGender"> 性别</label>
				<div class="col-md-8">
					<dselect code-type-key="Gender" class="form-control" id="teaGender" ng-model="teacher.teaGender" class="form-control"></dselect>
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="teaEmail"> 邮箱</label>
				<div class="col-md-8">
					<input type="email" ng-model="teacher.teaEmail" id="teaEmail" class="form-control" />
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="nation"> 民族</label>
				<div class="col-md-8">
					<input ng-model="teacher.nation" id="nation" class="form-control" />
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="lastedEducationBackground"> 学历</label>
				<div class="col-md-8">
					<input ng-model="teacher.lastedEducationBackground" ng-readonly="true"  id="lastedEducationBackground" class="form-control" />
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="birthDate"> 出生日期</label>
				<div class="col-md-8">
					<input ddatepicker="{format:'yyyy年mm月dd日'}" id="birthDate" class="form-control" ng-model="teacher.birthDate" placeholder='出生日期'>
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="teaStudy"> 研究方向</label>
				<div class="col-md-8">
					<input ng-model="teacher.teaStudy" id="teaStudy" ng-readonly="true" class="form-control" />
				</div>
			</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="teaAddress"> 办公地址</label>
				<div class="col-md-8">
					<input ng-model="teacher.teaAddress" id="teaAddress" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10 col-md-offset-2">
					<div class="button-group">
						<input class="btn btn-sm" ng-click="updateTeacher()" ng-disabled="teatherForm.$invalid" type="button" value="保存" type="submit">
						<input class="btn btn-sm" type="button" ng-click=back() value="取消">
					</div>
				</div>
			</div>
		</form>


			<form class="col-md-12 form-horizontal" name="studentForm" ng-if="isStudent" ddd-form-validate="{ blurValidate: true}" novalidate role="form">
				<div class="form-group col-md-6 lable-tip">
					<label class="col-md-4 data-form-edit required" for="stuRealName"> 姓名
					</label>
					<div class="col-md-8">
						<input ng-model="student.stuRealName" class="form-control" id="stuRealName" required />
					</div>
				</div>
				<div class="form-group col-md-6 lable-tip">
					<label class="col-md-4 data-form-edit required" for="stuName"> 登录账号
					</label>
					<div class="col-md-8">
						<input ng-model="student.stuName" class="form-control"  id="stuName" required />
					</div>
				</div>
				<div class="form-group col-md-6 lable-tip">
					<label class="col-md-4 data-form-edit required" for="stuPhone"> 联系电话
					</label>
					<div class="col-md-8">
						<input ng-model="student.stuPhone" type="text" id="stuPhone" ng-pattern="/^[0-9]*$/" class="form-control" required />
					</div>
				</div>
				<div class="form-group col-md-6 lable-tip">
					<label class="col-md-4 data-form-edit" for="stuGender"> 性别</label>
					<div class="col-md-8">
						<dselect code-type-key="Gender" class="form-control" id="stuGender" ng-model="student.stuGender" class="form-control"></dselect>
					</div>
				</div>
				<div class="form-group col-md-6 lable-tip">
					<label class="col-md-4 data-form-edit" for="stuEmail"> 邮箱</label>
					<div class="col-md-8">
						<input type="email" ng-model="student.stuEmail"  id="stuEmail" class="form-control" />
					</div>
				</div>
				<div class="form-group col-md-6 lable-tip">
					<label class="col-md-4 data-form-edit" for="nation"> 民族</label>
					<div class="col-md-8">
						<input ng-model="student.nation" class="form-control" />
					</div>
				</div>
				<div class="form-group col-md-6 lable-tip">
					<label class="col-md-4 data-form-edit" for="birthDate"> 出生日期</label>
					<div class="col-md-8">
						<input ddatepicker="{format:'yyyy年mm月dd日'}" class="form-control" ng-model="student.birthDate" placeholder='出生日期'>
					</div>
				</div>
				<div class="form-group col-md-6 lable-tip">
					<label class="col-md-4 data-form-edit" for="university"> 所在学校</label>
					<div class="col-md-8">
						<dreference multi-select=false id="university"
										list-view-key='organizationList'
										ng-model='student.organization' show-model-filed='name'
										name="parent" placeholder='所在学校' class="form-control"></dreference>
					</div>
				</div>
				<div class="form-group col-md-6 lable-tip">
					<label class="col-md-4 data-form-edit" for="stuMajor"> 所读专业</label>
						<div class="col-md-8">
							<input id="stuMajor" class="form-control" ng-model="courseDesignProgress.progressStage" ng-readonly="true"  name="stuMajor" />
						</div>
				</div>
			<div class="form-group col-md-6 lable-tip">
				<label class="col-md-4 data-form-edit" for="currentSemester">当前学期</label>
				<div class="col-md-8">
					<dselect code-type-key="currentSemester" class="form-control" id="currentSemester" ng-model="student.currentSemester" ></dselect>
				</div>
			</div>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">
						<div class="button-group">
							<input class="btn btn-sm" ng-click="updateStudent()" ng-disabled="studentForm.$invalid" type="button" value="保存" type="submit">
							<input class="btn btn-sm" type="button" ng-click=back() value="取消">
						</div>
					</div>
				</div>
			</form>

	</div>
</div>
