<div class="row">
	<div class="col-md-12">
		<div class="btn-group formBtnGroup">
		<dpagination class="pull-left" grid-name="exporterConfigListGrid"></dpagination>
			<a class="btn" ng-click="addExporterConfig()"
				ng-if="hasPermission('exporterConfig_add')"><i
				class='glyphicon glyphicon-plus-sign'></i>新增</a> <a
				class="btn" ng-click="refreshGrid()"><i
				class='glyphicon glyphicon-refresh'></i>刷新</a>
		</div>
		<dcolumnfilter class="pull-right" grid-name="exporterConfigListGrid"/>
	</div>
	<ddatagrid 
	name="exporterConfigListGrid"
	class="col-md-12"
	id="exporterConfigListGrid"
	operation-columns='operationColumns'
	operation-bar-buttons='operationBarButtons' 
	list-view-key="exporterConfigList">
	</ddatagrid>
</div>
