<div class="row">
<div class="col-md-12">
		<div class="btn-dcolumnfilter btn-group formBtnGroup">
			<dpagination class="pull-left" grid-name="operatorListGrid"></dpagination>
			<button class="btn " ng-click="addOperator()"
				ng-if="hasPermission('operator_add')">
				<i class='glyphicon glyphicon-plus-sign'></i>新增
			</button>
			<button class="btn" ng-click="assignRoles()" 
				ng-if="hasPermission('operator_add') && false">
				<i class='glyphicon glyphicon-edit'></i>角色复制
			</button>
<!-- 			<button class="btn" ng-click="refreshGrid()"> -->
<!-- 				<i class='glyphicon glyphicon-refresh'></i>刷新 -->
<!-- 			</button> -->
		</div>
		<dcolumnfilter grid-name="operatorListGrid" class="btn-dcolumnfilter pull-right" />
	</div>
	<div class="btn-group formBtnGroup pull-right gridBtnGroup">
	</div>
		<ddatagrid 
			class="col-md-12"
			name="operatorListGrid"
			id="operatorListGrid"
			operation-column-width='245'
			isoperation-column=true
			operation-columns='operationColumns'
			operation-bar-buttons='operationBarButtons' 
			list-view-key="operator"></ddatagrid>
</div>
