<form class="form-horizontal" ng-init="getInitSystemConfigData()"
	name="systemConfigForm" novalidate>
	<fieldset>
		<legend class="legend">
			<span class="legend-title">参数配置</span>
		</legend>
		<div class="form-group col-md-12 ">
			<label class="col-md-2 control-label required" for="systemConfigKey">
				键</label>
			<div class="col-md-10">
				<input type="text" class="form-control" name="systemConfigKey"
					id="systemConfigKey" ng-model="systemConfig.systemConfigKey"
					required>
			</div>
		</div>

		<div class="form-group col-md-12 ">
			<label class="col-md-2 control-label required" for="systemConfigValue">
				值</label>
			<div class="col-md-10">
				<textarea rows="5" class="form-control" name="systemConfigValue"
					id="systemConfigValue" ng-model="systemConfig.systemConfigValue" required></textarea>
			</div>
		</div>
		<div class="form-group col-md-12 ">
			<label class="col-md-2 control-label" for="systemConfigType">
				参数类型</label>
			<div class="col-md-10">
				<dreference class="form-control"
					reference-id="systemConfigType" list-view-key='systemConfigTypeReference'
					ng-model='systemConfig.systemConfigType' show-model-filed='systemConfigTypeName'>
				</dreference>
			</div>
		</div>
		
		<div class="form-group col-md-12 ">
			<label class="col-md-2 control-label" for="remark"> 说明</label>
			<div class="col-md-10">
				<textarea rows="3" class="form-control" name="remark" id="remark"
					ng-model="systemConfig.remark"></textarea>
			</div>
		</div>

	</fieldset>
	<div class="form-group col-md-12">
		<div class="btn-group formBtnGroup topRight col-md-offset-2">
			<button class="btn btn-sm" ng-disabled="systemConfigForm.$invalid"
				ng-click="saveSystemConfig(systemConfig)">保存</button>
			<button class="btn btn-sm" ng-show="{{showSaveAndAddButton}}"
				ng-disabled="systemConfigForm.$invalid"
				ng-click="saveAndAddSystemConfig(systemConfig)">保存并新增</button>
			<button class="btn btn-sm" ng-click="back()">返回</button>
		</div>
	</div>
</form>
