<div class="row">
	<div class="col-md-12">
			<div class="btn-group formBtnGroup">
				<dpagination class="pull-left" grid-name="dynamicFormListGrid"></dpagination>
					<a class="btn " ng-click="addDynamicForm()"
						ng-if="hasPermission('dynamicForm_add')">
						<i class='glyphicon glyphicon-plus-sign'></i>新增</a> 
					<a class="btn" ng-click="refreshGrid()">
						<i class='glyphicon glyphicon-refresh'></i>刷新</a>
			</div>
			<dcolumnfilter class="pull-right" grid-name="dynamicFormListGrid"/>
	</div>
				<ddatagrid
					class="col-md-12"
					name="dynamicFormListGrid"
					id="dynamicFormListGrid"
					isoperation-column=true
					show-operater-icon=true
					operation-columns='operationColumns'
					operation-bar-buttons='operationBarButtons' 
					list-view-key="dynamicFormList">
				</ddatagrid>
</div>
