<div class="form-group">
    <label class="col-md-{{col1}} control-label" for="{{formName+index}}">{{label}}</label>
    <div class="col-md-{{col2}}">
        <dfileupload associate-form-id="1" associate-form-name="keyword"></dfileupload>
        <p class='help-block'>{{description}}</p>
       </div>
</div>
<div class="pull-right component-operator">
	<span class='glyphicon glyphicon-plus operator-signal plus'></span>&nbsp;&nbsp;&nbsp;&nbsp;
	<span class='glyphicon glyphicon-minus operator-signal minus' ng-click="popover.remove($event)"></span>
</div>
					