<style>
.process_bar {
	padding-left: 1px;
	padding-right: 0px;
}
</style>
<form class="form-horizontal" role="form" name="editPasswordForm"
	ng-init="init()" novalidate>
	<fieldset style="background-color: #EEEEEE; padding-bottom: 49px; padding-top:15px"
		class="form-horizontal">
		<div class="form-group has-feedback"
			ng-class="{false:'has-error',true:'has-success'}[editPasswordForm.oldPassword.$valid]">
			<label for="oldPassword" class="control-label col-md-3 required"
				style="letter-spacing: 5px;">当前密码：</label>
			<div class="col-md-6">
				<input name="oldPassword" type="password" class="form-control"
					placeholder="请输入当前密码" ng-model="user.oldPassword" required>
			</div>
			<span
				ng-show="editPasswordForm.oldPassword.$error.required && editPasswordForm.oldPassword.$dirty">原密码为空!</span>
		</div>
		<div class="form-group has-feedback"
			ng-class="{false:'has-error',true:'has-success'}[editPasswordForm.newPassword.$valid]">
			<label for="newPassword" class="control-label col-md-3 required"
				style="letter-spacing: 9px;">新密码：</label>
			<div class="col-md-6">
				<input name="newPassword" type="password" class="form-control"
					placeholder="6-20个字符" ng-maxlength="20" ng-minlength="6"
					ng-pattern="/^[a-zA-Z|\d|_|@|\\|/|~|+|-| |~|*|]+$/"
					ng-model="user.newPassword" required>
			</div>
			<span style="color: #E97B6F"
				ng-show="editPasswordForm.newPassword.$dirty && editPasswordForm.newPassword.$invalid">
				<span class="help-block"
				ng-show="editPasswordForm.newPassword.$error.required">必填项!</span> <span
				class="help-block"
				ng-show="editPasswordForm.newPassword.$error.minlength">密码的长度不能少于6!</span>
				<span class="help-block"
				ng-show="editPasswordForm.newPassword.$error.maxlength">密码的长度不能超过20!</span>
			</span>
		</div>
		<div class="form-group" style="margin:0">
			<label class="control-label col-md-3"
				style="letter-spacing: 12px;">安全度：</label>
			<div class="col-md-5" style="padding: 10px 0;padding-left: 5px;">
				<div class="col-md-2 process_bar">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60"
							aria-valuemin="0" aria-valuemax="100" ng-style="myProBar1"
							role="progressbar" style="width: 100%;" ng-show="true"></div>
					</div>
				</div>
				<div class="col-md-2 process_bar">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60"
							aria-valuemin="0" aria-valuemax="100" ng-style="myProBar1"
							role="progressbar" style="width: 100%;" ng-show="true"></div>
					</div>
				</div>
				<div class="col-md-2 process_bar">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60"
							aria-valuemin="0" aria-valuemax="100" ng-style="myProBar2"
							style="width: 100%;" ng-show="true"></div>
					</div>
				</div>
				<div class="col-md-2 process_bar">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60"
							aria-valuemin="0" aria-valuemax="100" ng-style="myProBar2"
							style="width: 100%;" ng-show="true"></div>
					</div>
				</div>
				<div class="col-md-2 process_bar">
					<div class="progress">
						<div class="progress-bar" role="progressbar" ng-style="myProBar3"
							aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							style="width: 100%;" ng-show="true"></div>
					</div>
				</div>
				<div class="col-md-2 process_bar">
					<div class="progress">
						<div class="progress-bar" ng-style="myProBar3" role="progressbar"
							aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							style="width: 100%;" ng-show="true"></div>
					</div>
				</div>
			</div>
			<div class="col-md-2" style="color: #E97B6F;line-height: 37px;">{{passwordLevel}}</div>
		</div>
		<div class="form-group has-feedback"
			ng-class="{false:'has-error',true:'has-success'}[editPasswordForm.surePassword.$valid]">
			<label for="surePassword" class="control-label col-md-3 required"
				style="letter-spacing: 2px;">确认新密码：</label>
			<div class="col-md-6">
				<input name="surePassword" class="form-control" type="password"
					placeholder="再次输入密码" ng-maxlength="20" ng-minlength="6"
					ng-model="user.surePassword" required />
			</div>
			<span style="color: #E97B6F"
				ng-show="editPasswordForm.surePassword.$dirty && editPasswordForm.surePassword.$invalid">
				<span class="help-block"
				ng-show="editPasswordForm.surePassword.$error.required">必填项!</span>
				<span class="help-block"
				ng-show="editPasswordForm.surePassword.$error.maxlength">密码的长度不能超过20!</span>
				<span class="help-block"
				ng-show="!isSure(editPasswordForm.surePassword) && !editPasswordForm.surePassword.$error.required &&! editPasswordForm.surePassword.$error.maxlength">两次输入的密码不一致！</span>
			</span>
		</div>
		<div class="form-group">
			<ng-form name="validateCodeForm" class="form-inline"> <label
				for="validateCode" class="control-label col-md-3 required"
				style="letter-spacing: 2px;">输入验证码：</label>
			<div class="col-md-2">
				<input class="form-control" name="validateCode" type="text"
					ng-model="validateCode" required style="width: 111px;"
					placeholder="请输入验证码" />
			</div>
			<img class="col-md-2" src="{{codeUrl}}" ng-click="createCode()"
				style="height: 34px;" /> <a href="javascript:void(0)"
				ng-click="createCode()"
				style="text-decoration: underline; color: #E97B6F;">看不清？换一张</a> </ng-form>
		</div>
		<div class="form-group has-feedback">
			<label for="surePassword" class="control-label col-md-3"></label>
			<div class="col-md-6">
				<button class="btn btn-danger btn-md col-md-12" type="button"
					ng-disabled="editPasswordForm.$invalid" ng-click="editPassword()">保存</button>
			</div>
		</div>
	</fieldset>
</form>
